<header class="base-right-left-padding">
    <div class="header-logo">
        Decode Blog
    </div>
    <div class="haeder-search">
        <form action="">
            <input type="text" placeholder="Blog search">
            <%- include('./button', {icon: '/image/icons/haeder-saerch-icon.png', title: 'Search'}) %>
        </form>
    </div>
    <div class="header-user-actions">
        <%- include('./button', {icon: '', title: 'Sign up'}) %>
        <%- include('./button', {icon: '', title: 'Sign in'}) %>
    </div>
</header>