<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs', {title: 'Sign in'}) %>
<body>
    <div class="base-width sign-in-page">
        <%- include('./partials/header.ejs', {link: ''}) %>
        <div class="sign-in-container">
            <form action="" class="sign-in-form">
                <h2 class="form-header">Вход</h2>
                <input type="text" placeholder="Введите e-mail">
                <input type="text" placeholder="Введите пароль">
                <button>Войти</button>
            </form>
        </div>
    </div>

</body>
</html>